<h2 class="text-center">Published Articles</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">View</th>
      <th scope="col">Category</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of value">
      <td><a routerLink="/main-content/{{item.blog_id}}">{{item.title}}  <i class="fas fa-external-link-alt"></i></a></td>
      <td >{{item.category}}</td>
      <td style="cursor:pointer;" ><i class="fas fa-trash-alt" (click)="del()" ></i></td>
    </tr>
  </tbody>
</table>