/* input,textarea{
    border: none;
    border-bottom: 1px solid rgb(65, 27, 27);

    background: transparent;
    outline: none;
} */
.form-group{
  margin-left: 60px
}

.addimage{
    margin-top: 8px;
    background: rgb(85, 32, 82);
    border-radius: 6px;
    color: aliceblue;
    border: 0px;
    width: 200px;
    height: 40px;
}
.img-div{
    margin-top: 8px;
    border: 4px rgb(85, 32, 82) solid;
    width: 208px ;
}
.post{
    margin-left: 20px;
    margin-top: 90px
}
.write{
    height: 900px;
    width: 90%;
    border-radius: 12px
}
.proress{
    position: relative;
    top: 30px
}
editor{
    height: 300px
}
.btn{
    width: 200px;
    margin-left: 60px
}