
.sec-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
z-index: 1;   
background: transparent;
border-top: 4px solid rgb(104, 21, 49)
}
.sec-nav span , .home{
    margin-left: 50px;
    color: rgb(104, 21, 49);
    margin-top:150px;
    cursor: pointer;
}