h4{
    margin-left: 80px;
    margin-top: 30px;
    font-style: oblique;
    text-transform: uppercase

}
.profile-img{
    border: 2px solid rgb(82, 32, 82);
    border-radius: 20px;
    margin-left: 50px
}
button{
    margin-top: 12px;
    width: 94%;
}
i{
    margin-left: 20px;

}
input,select{
    max-width: 650px
}
