h5,h4{
    margin-left: 20px;
    margin-top: 30px
}
.profile-img{
    border: 2px solid rgb(82, 32, 82);
    border-radius: 20px;
    margin-left: 50px
}
button{
    margin-top: 12px;
    width: 94%;

}
i{
    margin-left: 20px;

}
input,select{
    max-width: 650px
}
.profile{
    background:linear-gradient(rgba(0,0,0,0.4)rgba(0,0,0,0.9)),url(../../../assets/bg-hero-desktop.svg)
}