.container{
    margin-top: 70px
}
.shadow{
    height: 350px;
}
input{
    margin-top: 15px
}
p{
    font-size:25px;
    margin-top: 3%
}

h2{
    margin-top: 12px;
    font-style: italic;  
    font-size: 50px 
}.dont{ margin-left: 90px}
.forgot{
    margin-left: 100px
}
a{
    text-decoration-color: gray;
    color: rgb(85, 32, 82)}
button{
    width: 100%;
    background:rgb(85, 32, 82);
    color: aliceblue;
}
button:hover{
    color: aliceblue;
  border: 2px solid rgb(206, 132, 14);
} input:hover{
    border: 2px solid rgb(206, 132, 14);}
small{
    margin-top: 20px
}
