<div class="container">
  <div class="row">
      <div class="col-md-6 col-12 forgot">
      <h2 class="text-center">Forgot Your Password?</h2>
      <img src="../../../assets/undraw_forgot_password_gi2d.svg" alt="forgot-pass" width="80%" max-height="300px">
      </div>
      <div class="col-md-6 col-12 newpass">
      <p class="text-center">Don't worry its just easy, just check you email and follow the link to get a new Password  </p>
      <form>
        <div class="form-group">
          <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="Email Address">
        </div>
        <button (click)="forgot()" class="btn btn-default">REQUEST NEW PASSWORD</button>
      </form>
      <small class="backto"><a routerLink="/login"><b> Back to Login</b></a></small>

</div>
  </div>
</div>