.container{
    margin-top: 70px
}
.forgot{
    margin-top: 22px;
}
.newpass{
margin-top: 40px
}
label{
    margin-left: 50px
}
input{
    margin-top: 15px;
}
p{
    font-size:25px;
    margin-top: 3%
}
h2{
    margin-top: 12px;
    font-style: italic;  
    font-size: 50px 
}
button{
    width: 100%;
    background:rgb(85, 32, 82);
    color: white;
}

a{
    text-decoration-color: rgb(206, 132, 14);
    color: rgb(85, 32, 82)
}
input:hover{    border: 2px solid rgb(206, 132, 14)
} button:hover{
    color: white;   
    border: 2px solid rgb(206, 132, 14)
} 