.forgot{
    margin-top: 22px;
    border-top:2px solid rgb(85, 32, 82) ;
    /* margin-left: 300px; */
    width: 500px
}
label{
    margin-left: 50px
}
input{
    width: 400px;
    margin-left: 50px
}