<div class="container">
  <div class="row">
    <div class="forgot shadow">
      <h2 class="text-center">Forgot Your Password?</h2>
      <p class="text-center">Don't worry its just easy, just check you email and follow the link to get a new Password  </p>
      <form>
        <label for="email">EMAIL ADDRESS</label>
        <div class="form-group">
          <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="Email">
        </div>
       <span routerLink="/login">BACK TO LOGIN</span> <button (click)="forgot()" class="btn btn-warning">SEND EMAIL</button>
      </form>
    </div>
  </div>
</div>