<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle" style="color:rgb(85, 32, 82) ">Please provide "Title" and "Category" to Continue! </h5>
        <button type="button" class="close btn btn-warning" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       
      <div class="modal-body">
          <form (ngSubmit)="submitPost(ad)" #ad="ngForm">
        <p>Title*</p>
        <input type="text" class="form-control" ngModel name="title" placeholder="Title"> 
        <p>Category*</p>
        <select class="form-control"  ngModel name="category" required >
          <option disabled selected [value]="" >Select</option>
          <option *ngFor="let get of inputs" [ngValue]="get.name" >{{get.name}}</option>
        </select>
      <div class="modal-footer">
        <button type="submit" class="btn btn-warning " [disabled]="!ad.valid">Continue</button>
      </div>
      </form>
      </div>
      </div>
    </div>
  </div>
 <div class="container">
<button type="button" class=" mod" data-toggle="modal" data-target="#exampleModalCenter">
    Write Post
  </button>
 <h2 class="text-center">All Articles</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>


    </tr>
  </thead>
  <tbody>
     
    <tr *ngFor="let get of value" >
      <td class="elipse"><a href="main-content/{{get.blog_id}}">{{get.title}}  <i class="fas fa-external-link-alt"></i></a></td>
      <!-- <td class="elipse">{{get.article}}</td> -->
      <td >{{get.category}}</td>
      <td style="cursor:pointer" ><a routerLink="../write-post/{{get.blog_id}}"><i class="fas fa-user-edit" style="color: rgb(35, 35, 35)" ></i></a></td>
      <td style="cursor:pointer" ><i class="fas fa-trash-alt" (click)="del()" ></i></td>

    </tr>
  </tbody>
</table>
</div>