<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
  <h2 class="text-center">Great, You are Back.</h2>
<img src="../../../assets/undraw_mobile_login_ikmv.svg" width="80%" max-height="300px"> 
    </div>
    <div class="col-md-6 col-12 forms">
        <p class="text-center">Log in to get personalized story recommendations,<br> follow authors and topics you love, and interact with stories.</p>
  <form name="loginForm">
    <div class="form-group">
      <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password">
    </div>
    <button (click)="onSubmit()" class="btn btn-default">Log In</button>
  </form>
   
  <small class="text-center dont">Dont have an account? <span><a routerLink="/signup"><b>Sign Up</b></a></span></small>   
  <small class="forgot"><a routerLink="/forgot-password"><b>  Forgot Password?</b></a></small>
 </div>
</div>
</div>