<div class="container home">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="card1">
          <h3><b>POSTS</b></h3>
          <button class="post"><a routerLink="posts">View</a></button>
          <p>Number of posts  : {{got}}</p>
        </div>
      </div>
      <div class="col-md-4 col-12">
          <div class="card2">
            <h3><b>DRAFTS</b></h3>
            <button class="draft"><a routerLink="drafts">View</a></button>

            <p>Drafted posts  : {{draft}}</p>

          </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card3">
              <h3><b>PUBLISHED</b></h3>
              <button class="pub"><a routerLink="publish" >View</a></button>

              <p>Articles Published  : {{publish}}</p>

            </div>
          </div>
         
    </div>
  </div>


<div class="container person " >
<h4 class="text-center">PERSONAL INFO</h4>
<div class="row">
  <div class="col-md-7 col-12">
<ul>
  <li><b>Full Name</b>: <span>{{value[0]}} {{value[1]}}</span></li>
  <li><b>Email</b>: <span>{{value[2]}}</span></li>
  <li><b>Joined on</b>: <span>{{value[3]}}</span></li>
</ul>
</div>
<div class="col-md-5 col-12 share">
  <h5 class="text-center"><b>Share Posts on:</b></h5>  <hr>
<div class="fb"><a [href]="prof[2]">Facebook</a></div>
<div class="gm"><a [href]="prof[4]"> Google Mail</a></div>
<div class="twi"> <a [href]="prof[3]"> Twitter</a></div>
<div class="what">WhatsApp</div>

</div>
</div>
 </div>
