.home{
    margin-top: 60px; 
}
.card1{
    /* margin-left: 195px; */
    height: 200px;
    /* width: 250px; */
    box-shadow: 0px 2px 5px rgb(206, 132, 14);
}
.card2{
    /* margin-left: 130px; */
    height: 200px;
    /* width: 250px; */
    box-shadow: 0px 2px 5px rgb(206, 132, 14);
}
.card3{
    /* margin-left: 65px; */
    height: 200px;
    /* width: 250px; */
    box-shadow: 0px 2px 5px rgb(206, 132, 14);
}
.card4{
    /* margin-left:1px; */
    height: 200px;
    /* width: 250px; */
    box-shadow: 0px 2px 5px rgb(206, 132, 14);
}
h3{
    color:rgb(104, 21, 49);
    font-size: 26px;
    text-align: center;
    margin-top: 18px;
    transform: translateY(100%)
}

button[class="post"]{
    margin-top: 40px;
   border: 0px;
   height: 35px;
   margin-left: 20px;
   width:75% !important;
   background-color: rgb(30, 33, 226);
   border-radius: 15px;
}
button a{
    color: #fff;
    font-size: 18px;
    text-decoration: none
}
button[class="draft"]{
    background: rgb(206, 132, 14);
    margin-top: 40px;
    border: 0px;
    height: 35px;
    margin-left: 20px;
    width:75% !important;
    border-radius: 15px;
}
button[class="pub"]{
    background: rgb(16, 151, 39);
    margin-top: 40px;
    border: 0px;
    height: 35px;
    margin-left: 20px;
    width:75% !important;
    border-radius: 15px; 
}
/* button[class="com"]{
    background: orangered;
    margin-top: 40px;
   border: 0px;
   height: 35px;
   margin-left: 20px;
   width:75% !important;
   border-radius: 15px;
} */
h5 a{
    color: #fff;    
    margin-left: 50px;
    margin-bottom: 2px;
    text-decoration: none;
}
p{
    color:rgb(104, 21, 49);
    font-size: 20px;
    text-align: center;
    margin-top: 30px
}
.person h4{
    margin-top: 55px;
    color:rgb(104, 21, 49);

}
.person ul{
   line-height: 70px;
   list-style: none;
}
.person li{
    /* margin-left: 200px; */
    color:rgb(104, 21, 49);
}
.share a{
    text-decoration: none;
    color: #fff
}
.share h5{
    color:rgb(104, 21, 49);
}
.share div[class="fb"]{
    background-color: rgb(0, 110, 255);
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 10px
}
.share div[class="twi"]{
    background-color: rgb(8, 51, 107);
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 18px;
}
.share div[class="gm"]{
    background-color: rgb(114, 7, 25);
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 18px;
}
.share div[class="what"]{
    background-color: rgb(5, 144, 5);
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 18px;
}


/*** MEDIA QUERIES***/
@media screen and (max-width:375px){
    .home h5{
        width: 100px;
        margin-left: 70px
    }
    .home p{
        font-size: 16px
    }
    h5 a{
        color: #fff;    
        margin-left: 20px;
    }
}
@media screen and (max-width:768px){
    .home h3{
        font-size: 16px
    }
    .home h5{
        width: 68px;
        margin-left: 16px
    }
    h5 a{
        color: #fff;    
        margin-left: 18px;
        font-size: 15px
    }
    .home p{
        font-size: 16px
    }
}