

.sec-nav{
    position: sticky;
    top: 0;
z-index: 1;   
background: transparent;
border-top: 4px solid rgb(104, 21, 49)
}
.navbar-toggler{
    border: none;font-size: 35px;
    color: rgb(104, 21, 49)
}
/* .sec-nav span , .home{
    margin-left: 50px;
    color: rgb(104, 21, 49);
    margin-top:150px;
    cursor: pointer;
} */
.navbar-brand{

    margin-left: 50px
} 
.img-circle{
    margin-left: 20px;
    border-radius: 40px;
    cursor: pointer;
}

.nav-item a{
margin-left: 50px;
}

li {
    display: inline-block;
	 margin-top: 10px;
}
i[class="fas fa-search"]{
    margin-left: 250px
}
i[class="far fa-bell"]{
    margin-left: 40px
}
li a{
    display: block ;
    text-decoration: none;
    color: rgb(104, 21, 49);
}
/* li a:hover{
padding: 5px;
background: rgb(104, 21, 49);
color: aliceblue;
	border: 2px solid rgb(206, 132, 14) ;
	border-radius: 20px

} */

.started{
    color: black;
    margin-left: 90px;
}

span{
    margin-left: 35px;
    cursor: pointer;
    color: rgb(104, 21, 49)
}
