

.sec-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
z-index: 1;   
background: transparent;
border-top: 4px solid rgb(104, 21, 49)
}
.navbar-toggler{
    border: none;font-size: 35px;
    color: rgb(104, 21, 49)
}
/* .sec-nav span , .home{
    margin-left: 50px;
    color: rgb(104, 21, 49);
    margin-top:150px;
    cursor: pointer;
} */
.navbar-brand{

    margin-left: 50px
} 
.img-circle{
    margin-left: 20px;
    border-radius: 40px;
    cursor: pointer;
}

.nav-item a{
margin-left: 50px;
}

li {
    display: inline-block;
     margin-top: 10px;
}
i[class="fas fa-search"]{
    margin-left: 250px
}
i[class="far fa-bell"]{
    margin-left: 40px
}
li a{
    display: block ;
    text-decoration: none;
    color: rgb(104, 21, 49);
}
li a :hover{
    transition: 0.4s all ease-in;
    color: rgb(197, 184, 184);
}

.started{
    color: black;
    margin-left: 90px;
}

span{
    margin-left: 35px;
    cursor: pointer;
    color: rgb(104, 21, 49)
}

/* ----------------
  Footer section
---------------------*/

.footer-section {
	background: #030303;
    margin-top: 80px;
    padding-top: 20px
}

.footer-logo {
	padding-bottom: 30px;
}

.footer-widget {
	margin-bottom: 70px;
	overflow: hidden;
}

.footer-widget h2 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 45px;
}

.footer-widget p {
	color: #8f8f8f;
}

.footer-widget.about-widget p {
	margin-bottom: 50px;
	letter-spacing: -0.01em;
}

.footer-widget ul {
	list-style: none;
	float: left;
	margin-right: 37px;
}

.footer-widget ul:last-child {
	margin-right: 0;
}

.footer-widget ul li a {
	display: inline-block;
	position: relative;
	padding-left: 20px;
	font-size: 14px;
	color: #8f8f8f;
	margin-bottom: 6px;
}

.footer-widget ul li a:after {
	position: absolute;
	content: "";
	width: 5px;
	height: 5px;
	left: 0;
	top: 8px;
	border: 1px solid rgb(206, 132, 14);
	border-radius: 50%;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.footer-widget ul li a:hover {
	color: #fff;
}

.footer-widget ul li a:hover:after {
	width: 7px;
	height: 7px;
	top: 6px;
	background: rgb(206, 132, 14);
}

.fw-latest-post-widget .lp-item {
	margin-bottom: 30px;
	display: block;
	overflow: hidden;
}

.fw-latest-post-widget .lp-thumb {
	width: 64px;
	height: 64px;
	float: left;
	margin-right: 22px;
}

.fw-latest-post-widget .lp-content {
	overflow: hidden;
	padding-top: 2px;
}

.fw-latest-post-widget .lp-content h6 {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	opacity: 0.25;
	color: #717171;
	margin-bottom: 1px;
}

.fw-latest-post-widget .lp-content span {
	display: block;
	font-size: 12px;
	color: #8f8f8f;
	margin-bottom: 4px;
}

.fw-latest-post-widget .lp-content .readmore {
	font-size: 12px;
	color:rgb(206, 132, 14) ;
}

.contact-widget .con-info span {
	float: left;
	color: rgb(206, 132, 14);
	margin-right: 15px;
	overflow: hidden;
}

