/* .first-nav{
     box-shadow: 0px 0px 3px 0px rgb(173, 125, 125);
    background: linear-gradient(rgb(104, 21, 49),rgb(94, 41, 91));
} */

.sec-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
z-index: 1;   
background: transparent;
border-top: 4px solid rgb(104, 21, 49)
}
.navbar-toggler{
    border: none;font-size: 35px;
    color: rgb(104, 21, 49)
}
/* .sec-nav span , .home{
    margin-left: 50px;
    color: rgb(104, 21, 49);
    margin-top:150px;
    cursor: pointer;
} */
.navbar-brand{

    margin-left: 50px
} 
.img-circle{
    margin-left: 20px;
    border-radius: 40px;
    cursor: pointer;
}
.upgrade a{
    margin-left: 40px;
    color: white;
    border: 1px white solid;
    text-decoration: none
}
.nav-item a{
margin-left: 50px
}
li {
    display: inline-block;
     margin-top: 10px;
}
i[class="fas fa-search"]{
    margin-left: 250px
}
i[class="far fa-bell"]{
    margin-left: 40px
}
li a{
    display: block ;
    text-decoration: none;
    color: rgb(104, 21, 49);
}
li a :hover{
    transition: 0.4s all ease-in;
    color: rgb(197, 184, 184);
}

.started{
    border: 0px;
    background: black;
    color: #f9faf9;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    border-radius: 20px
}

span{
    margin-left: 35px;
    cursor: pointer;
    color: rgb(104, 21, 49)
}

/* @media screen and (max-width:375px){
 img
} */