/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    /* font-family: 'Nanum Myeongjo', serif; */
    /* font-family: 'El Messiri', sans-serif; */
    font-family:  medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif;
}
.modal{
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-backdrop{
    position: relative !important;
}