<div class="wrapper">
  <div class="sidenav">
    <span style="margin-left: 35px;color:whitesmoke;margin-top:18px">Hi, {{value}}</span><span><img [src]="welcome[8]"  width="35px" style="margin-left: 60px;margin-top: 12px;border-radius: 280px;border: 2px solid rgb(176, 177, 174)"></span>
    
    <ul>
        <li>HOME</li>
      <li><a routerLink="/dashboard" (click)="checkCookie()">Dashboard</a><i class="fas fa-desktop" style="margin-left: 52px" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" (click)="checkCookie()"></i></li>
      <li>USERS</li>
      <li><a routerLink="profile" (click)="checkCookie()">Profile</a><i class="fas fa-user-circle" style="margin-left: 78px" [routerLink]="['profile']" routerLinkActive="router-link-active"(click)="checkCookie()" ></i></li>
      <!-- <li><a routerLink="/notifications">Notifications</a><i class="fas fa-bell" style="margin-left: 40px"></i><sup><b>15</b></sup></li> -->
      <li><a routerLink="posts" (click)="checkCookie()">Write Article</a><i class="fas fa-user-edit" style="margin-left: 38px" [routerLink]="['posts']"(click)="checkCookie()" ></i></li>
      <li><a routerLink="published" (click)="checkCookie()">Published</a><i class="fas fa-upload" style="margin-left: 58px" [routerLink]="['published']" routerLinkActive="router-link-active"(click)="checkCookie()" ></i></li>
      <li><a routerLink="drafts"(click)="checkCookie()">Drafts</a><i class="fas fa-copy" style="margin-left: 82px" [routerLink]="['drafts']" routerLinkActive="router-link-active"(click)="checkCookie()" ></i></li>
      <li>ACCOUNT</li>
      <!-- <li><a routerLink="settings">Settings</a><i class="fas fa-user-cog" style="margin-left: 70px"></i></li> -->
      <li><a (click)="logOut()" style="cursor: pointer;">Log Out</a><i class="fas fa-sign-out-alt" style="margin-left: 68px;cursor: pointer;" [routerLink]="['/login']" routerLinkActive="router-link-active"></i></li>

    </ul>
    </div>

    <div class="container-fluid main-content">
        <mat-progress-bar mode="indeterminate" [(value)]="progress" *ngIf="load" ></mat-progress-bar> 
               <nav class="navbar fixed-top our-nav shadow"> 
              <i class="fas fa-exchange-alt" (click)="move()" style="cursor:pointer;font-size: 22px;color: rgb(60, 15, 68)"></i>
              <a href="#" style="color: rgb(16, 8, 17);text-decoration: none"><i class="fa fa-home" style="cursor:pointer;font-size: 22px;color: rgb(60, 15, 68)"></i> Home</a>
        </nav>   
      
        
   <router-outlet></router-outlet>
    </div>
</div>

