
h2{
  margin-top: 50px;
  font-size: 40px
}
mark{
  text-transform: uppercase
}
.arti{
  margin-top: 30px;
  font-size: 20px
}

.recent{
  /* box-sizing: content-box; */
/* top:0; */
border-top: 2px solid rgb(85, 32, 82);
height:100%;
width: 100%;
position : fixed;
margin-left: 850px;
overflow: scroll
}
.recent h4{
  margin-top: 44px;
  margin-left: 40px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px gray
}
.recent a{
  font-size: 15px;
  line-height: 25px;
  color: rgba(10, 8, 8, 0.7)
}
.cats h4{
  margin-left: 40px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px gray
}
@media screen and (max-width:375px){
 .img-responsive{
   width: 100%
 }
 .recent{
  margin-top: 50px;
  border-top: 2px solid rgba(118, 16, 128, 0.7);
  height:100%;
  width: 100%;
  position: relative;
  margin-left: 0px
 }
}
@media screen and (max-width:768px){
  .recent{
    margin-top: 50px;
    border-top: 2px solid rgb(85, 32, 82);
    height:100%;
    width: 100%;
    position: relative;
    margin-left: 0px
   }
}
.author b{
  margin-left: 20px;
  transform: translateY(80px);
  text-transform: uppercase;

}
.auth-img img{
margin-bottom: 2rem;
border-radius: 12px
}
li{
  list-style: none;
}
li:hover{
  color: rgb(85, 32, 82);
  cursor: pointer;

}
footer{
  margin-top: 2rem
}
footer a{
  color:  rgb(85, 32, 82);
}
footer i{
  margin-left: 30px;
  /* float: right; */
  font-size: 20px;
  margin-bottom: 2rem
}
footer i:hover{
  color: white;
  background:  rgb(85, 32, 82);
  width: 29px;
  border-radius: 18px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out

}
